<launch>
	<arg name="xacro_name" default="$(find omni_vehicle)/urdf/omni_wheel/main.urdf.xacro"/>	

	<arg name="model_name" default="Omni_vehicle"/>
	
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="true" />
		<arg name="gui" value="true" />
	</include>

        <rosparam file="$(find omni_vehicle)/config/omni_bot.yaml" command="load"/>

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg xacro_name)' " />

        <node name="control_spawn" pkg="controller_manager" type="spawner" respawn="false" ns="Omni_vehicle"
    			output="screen" args="joint_state_controller left_controller right_controller back_controller"/>


	<node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0.0 -y 0.0 -z 0.15 -model $(arg model_name)"/>
	
	<node name="yara_controller" pkg="omni_vehicle" type="yara_main" output="screen" />
	
	
</launch>
